.facilitypage {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

  border: 5px solid #204e79;
  background-color: #f9fbfd;
}
.sidemenuanddashboard {
  display: flex;
  flex: 1;
  gap: 10px;
}
.facility {
  display: flex;
  flex-direction: column;

  width: calc(100vw - 240px);
  height: calc(100vh - 50px);
}
.facilityone {
  height: 50px;
  background-color: #f9fbfd;
  padding-top: 10px;
  font-size: 20px;
  font-weight: 600;
  padding-left: 20px;
}
.facilitysecond {
  height: 50%;
  margin-bottom: 10px;
  background-color: #ffffff;
}
.facilitysecondone {
  font-size: 20px;
  font-weight: 600;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
}
.facilitysecondtwo {
  height: 50px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.facilitysecondtwo {
  height: 50px;
  margin-left: 20px;
  padding-left: 10px;
}
.facilitysecondtwo input {
  margin-left: 20px;
  padding: 10px;
  height: 30px;
  outline: none;
}

.facilitysecondtwo p {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #204e79;
  height: 25px;
  margin-right: 20px;
  border-radius: 5px;
  padding: 15px;
  color: white;
}

